absl-py>=1.0.0
aiobotocore>=2.1.1
aiohttp>=3.8.1
aioitertools>=0.10.0
aiosignal>=1.2.0
astroid>=2.9.3
astropy>=5.0.1
astroquery>=0.4.5
astunparse>=1.6.3
async-timeout>=4.0.2
attrs>=21.4.0
autograd>=1.3
autopep8>=1.6.0
bandit>=1.7.3
beautifulsoup4>=4.10.0
bokeh>=2.4.2
botocore>=1.23.24
cachetools>=5.0.0
certifi>=2021.10.8
charset-normalizer>=2.0.12
clang>=14.0
colorama>=0.4.3
cycler>=0.11.0
dill>=0.3.4
docutils>=0.15.2
fbpca>=1.0
flake8>=4.0.1
flatbuffers>=2.0
fonttools>=4.29.1
frozenlist>=1.3.0
fsspec>=2022.2.0
future>=0.18.2
gast>=0.5.3
gitdb>=4.0.9
GitPython>=3.1.27
google-auth>=2.6.0
google-auth-oauthlib>=0.4.6
google-pasta>=0.2.0
googleapis-common-protos>=1.55.0
grpcio>=1.44.0
h5py>=3.6.0
html5lib>=1.1
idna>=3.3
imbalanced-learn>=0.9.0
imblearn>=0.0
importlib-metadata>=4.11.2
isort>=5.10.1
Jinja2>=3.0.3
jmespath>=0.10.0
joblib>=1.1.0
keras>=2.8.0
Keras-Preprocessing>=1.1.2
keyring>=23.5.0
kiwisolver>=1.3.2
lazy-object-proxy>=1.7.1
libclang>=13.0.0
lightkurve>=2.1.0
Markdown>=3.3.6
MarkupSafe>=2.1.0
matplotlib>=3.5.1
mccabe>=0.6.1
memoization>=0.4.0
mimeparse>=0.1.3
multidict>=6.0.2
numpy>=1.22.2
nvidia-ml-py3>=7.352.0
oauthlib>=3.2.0
oktopus>=0.1.2
opt-einsum>=3.3.0
packaging>=21.3
pandas>=1.4.1
pandas-tfrecords>=0.1.6
patsy>=0.5.2
pbr>=5.8.1
Pillow>=9.0.1
platformdirs>=2.5.1
promise>=2.3
protobuf>=3.19.4
psutil>=5.9.0
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
pycodestyle>=2.8.0
pydot>=1.4.2
pyerfa>=2.0.0.1
pyflakes>=2.4.0
pylint>=2.12.2
pyparsing>=3.0.7
python-dateutil>=2.8.2
pytz>=2021.3
pyvo>=1.3
pywin32-ctypes>=0.2.0
PyYAML>=5.4.1
requests>=2.27.1
requests-oauthlib>=1.3.1
rsa>=4.7.2
s3fs>=2022.2.0
s3transfer>=0.5.2
scikit-learn>=1.0.2
scipy>=1.8.0
seaborn>=0.11.2
six>=1.16.0
smmap>=5.0.0
soupsieve>=2.3.1
statsmodels>=0.13.2
stevedore>=3.5.0
tensorboard>=2.8.0
tensorboard-data-server>=0.6.1
tensorboard-plugin-wit>=1.8.1
tensorflow>=2.8.0
tensorflow-datasets>=4.5.2
tensorflow-estimator>=2.8.0
tensorflow-io-gcs-filesystem>=0.24.0
tensorflow-metadata>=1.6.0
termcolor>=1.1.0
tf-estimator-nightly>=2.8.0.dev2021122109
threadpoolctl>=3.1.0
toml>=0.10.2
tornado>=6.1
tqdm>=4.63.0
typing_extensions>=4.1.1
uncertainties>=3.1.6
urllib3>=1.26.8
webencodings>=0.5.1
Werkzeug>=2.0.3
wrapt>=1.13.3
yarl>=1.7.2
zipp>=3.7.0
